body {
    font-family: sans-serif;
}
.container {
    margin: 2rem 2rem 2rem 2rem;
}
.title {
    font-size: 2.5rem;
    font-weight: bolder;
}
.subtitle {
    font-size: 2rem;
    font-weight: normal;
}

input button{
    height: 1.2rem;
    border-style: solid;
    border-color: lightgray;
}

input {
    margin-bottom: 1rem;
}

.button {
    border-style: solid;
    border-color: gray;
    height: 2rem;
    background-color:white;
}